* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

body {
  background: #dff6ff;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(background-img.jpg);
  background-size: cover;
}

h1 {
  color: #4a4a4a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

#user-interface {
  background: rgba(255, 255, 255, 0.9);
  width: 90%;
  max-width: 600px;
  margin: 10px auto 0;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 5px 9px rgba(32, 32, 32, 0.165);
}
.welcome-text {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #4a4a4a;
}

.player-name {
  color: #4a4a4a;
  font-weight: bold;
  margin: 20px;
}

input#player-name-id {
  border: 0.5px solid #000000;
  border-radius: 20px;
  padding: 9px;
  background: none;
  margin: 0;
}

#start-quiz-button {
  background: #001230;
  color: #fff;
  font-weight: 500;
  width: 120px;
  border: none;
  padding: 10px;
  margin: 0 0 10px 15px;
  border-radius: 20px;
}

#start-quiz-button:hover {
  background: rgb(0, 85, 160);
  transform: scale(1.03);
}
.progress-bar-element {
  width: 100%;
  height: 15px;
  background-color: rgb(217, 212, 212);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}
.progress-bar {
  width: 0%;
  height: 100%;
  background-color: rgb(49, 121, 49);
  transition: width 0.5 ease-in-out;
}
@keyframes fancyanimate {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#answers-list {
  color: #030303;
  font-weight: 500;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  text-align: left;
  border-radius: 4;
  opacity: 0;
  animation: fancyanimate 0.7s ease-out forwards;
}

#answers-list li {
  padding: 15px 20px;
  font-size: 18px;
  color: #141212;
  cursor: pointer;
  border: 0.5px solid #000000;
  border-radius: 20px;
  margin: 10px 0;
}

#answers-list li:hover {
  background: #dff6ff;
  color: #000000;
  transform: scale(1.03);
}

#next-question-button {
  background: #001230;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
}

#next-question-button:hover {
  background: rgb(0, 85, 160);
  transform: scale(1.03);
}

#skip-question-button {
  background: #001230;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
}

#skip-question-button:hover {
  background: rgb(0, 85, 160);
  transform: scale(1.03);
}

ul#answers-list li.correctAnswer {
  background-color: lightgreen;
}

ul#answers-list li.wrongAnswer {
  background-color: rgb(255, 124, 122);
}

#restart-button-game {
  background: #001230;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

#restart-button-game:hover {
  background: rgb(0, 85, 160);
  transform: scale(1.03);
}

#current-score {
  color: #000000;
  margin-bottom: 20px;
}

#current-score.good-score {
  color: green;
  font-weight: bold;
}
.final-message {
  color: #4a4a4a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.highlight-correct {
  background-color: green;
  font-weight: bold;
}

.final-gif {
  margin: 10px auto;
  max-width: 150%;
  height: auto;
  border-radius: 20px;
}
